/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Body font-family */
body {
  font-family: "Poppins", sans-serif;
}

/* Navbar style */
.nav-container .nav-brand img {
  width: 100px;
  height: 100px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1277px;
  margin: 0 auto;
  height: 72px;
}
.nav-container ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-container .nav-link {
  color: rgb(46, 44, 44);
}
.nav-container ul .active {
  color: #128bfc;
}

.nav-container button {
  padding: 4px 14px;
  height: 32px;
  font-size: 1rem;
  color: #fff;
  background-color: tomato;
  border: none;
  outline: none;
  border-radius: 3px;
}

/* Hero section style */
.hero-container {
  max-width: 1125px;
  margin: 80px auto 0;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
.hero-container .hero-content {
  h1 {
    font-weight: bold;
    font-size: 4rem;
    color: #242424;
  }
  p {
    margin-top: 1rem;
    font-family: sans-serif;
    font-size: 0.9rem;
    color: rgb(36, 36, 36);
    line-height: 22px;
  }
  button {
    all: unset;
    background-color: tomato;
    padding: 6px 14px;
    margin: 1rem 1rem 0 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
  }
  button:hover {
    background-color: rgb(231, 90, 65);
  }
}
.hero-container .hero-image {
  display: flex;
  justify-content: end;
  width: 50%;
  img {
    width: 550px;
    height: 450px;
    border-radius: 6px;
  }
}

/* Responsive Design  */
@media only screen and (max-width: 1000px) {
  .hero-container .hero-content {
    h1 {
      font-size: 3rem;
    }
  }
  .hero-container .hero-image {
    img {
      width: 450px;
      height: 400px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .hero-container {
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }
  .hero-container .hero-image {
    display: flex;
    justify-content: center;
    img {
      width: 400px;
      height: 270px;
    }
  }
}
/* @media only screen and (max-width: 700px) {
  .nav-container {
    position: relative;
  }
  .control-nav-menu {
    position: absolute;
    top: 0;
    padding: 3.5rem 0;
   
    background-color: #d0d0d0;
    width: 100%;
    object-fit: cover;
    opacity: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} */
